.bank-transaction{
    text-align: center;
    margin-top: 50px;
}
.bank-transaction h2{
    margin-bottom: 40px;
}
.deposit{
    background: #ffa809;
    color: #fff;
    border: none;
    padding: 8px 39px;
    font-weight: 600;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}
.withdraw{
    background: #0997ff;
    color: #fff;
    border: none;
    padding: 8px 39px;
    font-weight: 600;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}
.bankrupt{
    background: #ff0909;
    color: #fff;
    border: none;
    padding: 8px 39px;
    font-weight: 600;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
}